body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #0d1117;
    color: #cfcfcf;
}

#app {
    max-width: 600px;
    margin: 0 auto;
}

button, input {
    margin-bottom: 10px;
    background-color: #bebebe;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

#taskList {
    margin-top: 20px;
}

.taskBlock {
    border-bottom: 1px solid #333;
    padding: 10px;
}

input {
    opacity: 0;
    animation: ani 2.5s forwards;
  }

input::placeholder {
    color: black;
}
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }